main{
    width: 60%;
    text-align: center;
    margin: auto;
}


/**************** Concerne les images et le texte***************/
/****** Premier bloc sur la définition**************/
.def{
    border: 1px solid;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    padding: 30px 30px;
    border-radius: 20% 10%;;
    background-color:#3a8dbad8;
}

/*********Deuxième bloc sur l'acuité visuelle**************/
.acuitevisuelle p {
    padding-top: 30px;
}
.acuitevisuelle h3 {
    padding-top: 30px;
}
.acuitevisuelleimg{
    float: right;
}
.acuitevisuelle{
    margin-bottom: 320px;
}

/************Troisème bloc sur le champ visuel**************/
.champvisuel{
    clear: both;
}
.champvisuelimg{
    float: left;
}
.champvisuel p {
    padding-top: 30px;
}
.champvisuel h3 {
    padding-top: 30px;
}

/************Quatrième bloc sur savoir si on est aveugles******/
.aveuglesoupas{
    padding-top: 100px;
    clear: both;
    padding-bottom: 40px;
}


