img{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
main p{
    width: 40%;
    margin-top: 150px;
    font-size: 25px;
    background-color: rgb(208, 224, 231);
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 60px;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
}
span{
    font-size: 30px;
}
body{
    background-image: url("../Images/Image-oeil2test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
footer{
    margin-top: 200px;
}
